@page "{restaurantId:int}" // Restaurants/Detail/restaurantId

@model RestaurantApp_Razor.Pages.Restaurants.DetailModel
@{
}

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<h2>@Model.Restaurant.Name</h2>

<div>
    Id :@Model.Restaurant.Id
</div>

<div>
    Location: @Model.Restaurant.Location
</div>

<div>
    Cuisine: @Model.Restaurant.Cuisine
</div>
<br />
<div>
    <a class="btn btn-primary" asp-page="./List">All Restaurants</a>
</div>

