@page "{restaurantId:int?}"
@* id is set optional because we are using same page for create functionality *@
@model RestaurantApp_Razor.Pages.Restaurants.EditModel
@{
}

<h2>Edit @Model.Restaurant.Name</h2>

<form method="post">

    @* to pass the id along the form *@
    <input type="hidden" asp-for="Restaurant.Id" />

    <div class="form-group">
        <label asp-for="Restaurant.Name" class="font-weight-bold"></label>
        <input asp-for="Restaurant.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Restaurant.Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Restaurant.Location" class="font-weight-bold"></label>
        <input asp-for="Restaurant.Location" class="form-control" />
        <span class="text-danger" asp-validation-for="Restaurant.Location"></span>
    </div>

    <div class="form-group">
        <label asp-for="Restaurant.Cuisine" class="font-weight-bold"></label>
        @*
            allows user to select from given options
            asp-items is Collection of SelectListItem, populates option elements
            Model is not required for asp-for but is required for asp-items
        *@
        <select class="form-control" asp-for="Restaurant.Cuisine" asp-items="Model.Cuisines">
        </select>
    </div>

    <button class="btn btn-primary" type="submit">Update</button>
    <a asp-page="List" class="btn btn-primary">Cancel</a>

</form>

@* Scripts is a section defined in layout
    it is defined so that if any page wants to implement its own scripts
    and ValidationScriptsPartial contains all the links to implement the client side validation *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
