@page
@model RestaurantApp_Razor.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h2>Restaurants</h2>

<div>
    <a class="btn btn-secondary" asp-page="./Edit">Add new Restaurant</a>
    <br /><br />
</div>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-button">
              &nbsp;  <button class="btn btn-primary">Search</button>
            </span>
        </div>
    </div>
</form>

@foreach (var restaurant in Model.Restaurants)
{
    // partial is used to tell partial views, to break up large files into smaller components
    <partial name="_Summary" model="restaurant" />
}